.about-company__wrapper {
  position: relative;
  padding: 0 0 0 186px;

  @media (max-width: $mobile-width-only) {
    padding: 0;
  }
}

.about-company__wrapper:after {
  @media (min-width: $tablet-width-min) {
    position: absolute;
    content: "";
    width: 167px;
    height: 317px;
    background-image: url("/img/icon-year-group.svg");
    background-repeat: no-repeat;
    background-position: top;
    object-fit: contain;
    z-index: 5;
    left: 0;
    top: 0;
  }
}

.about-company h2 {
  @include font-family-condensed;
  font-weight: normal;
  font-size: 36px;
  line-height: 140%;
  margin: 0 0 20px;

  @media (max-width: $tablet-width-max) {
    font-size: 34px;
  }

  @media (max-width: $mobile-width-only) {
    font-size: 28px;
  }
}

.about-company__description {
  margin: 0 0 41px 0;

  @media (max-width: $tablet-width-max) {
    max-width: 537px;
  }
}

.about-company p {
  margin: 0 0 20px 0;



  @media (max-width: $mobile-width-only) {
    margin: 0 0 44px 0;

    &:last-child {
      margin: 0;
    }
  }
}

.about-company__button {
  color: $main-blue;
  outline: 1px solid $main-blue;
  width: 180px;
}

.about-company__button:hover {
  color: $main-blue-darker;
  outline: 1px solid $main-blue-darker;
}

.about-company__hidden-part {
  @media (max-width: $tablet-width-max) {
    display: none;
  }
}
