.accordion-item {
  @media (max-width: $mobile-width-only) {
    display: grid;
    grid-template-columns: 1fr max-content;
  }
}

.accordion-item__title {
  display: inline-block;
  vertical-align:center;
}

.accordion-item__button {
  display: none;

  @media (max-width: $mobile-width-only) {
    display: inline-block;
    vertical-align: center;
    width: 16px;
    height: 16px;
    padding: 0;
    background-color: transparent;
    border: none;
    position: relative;
  }
}

.accordion-item__content {
  @media (max-width: $mobile-width-only) {
    margin: 34px 0 0 0;
  }
}

.accordion-item_nojs > .accordion-item__button {
  display: none;
}

.accordion-item_opened > .accordion-item__button::after {
  content: "";
  cursor: pointer;
  position: absolute;
  width: 16px;
  height: 1px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: $grey-color;
}

.accordion-item_closed > .accordion-item__button::after {
  content: "";
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  width: 16px;
  height: 16px;
  background-image: url("/img/icon-plus.svg");
  background-size: 16px 16px;
  background-position: center;
  background-repeat: no-repeat;
}

.accordion-item_closed > .accordion-item__content {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}
