.call-to-action a {
  font-size: 16px;
  line-height: inherit;
  font-family: "Roboto Condensed", sans-serif;
  color: $ordinary-white;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  background-color: $main-blue;
  display: inline-flex;
  padding: 17px 28px;
  border-radius: 5px;
  text-align: center;
}
