.call-to-action a {
  box-sizing: border-box;
  font-size: 16px;
  font-weight: bold;
  line-height: inherit;
  font-family: "Roboto Condensed", sans-serif;
  color: $ordinary-white;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  background-color: $main-blue;
  display: inline-flex;
  align-items: center;
  text-align: center;
  padding: 17px 25px 17px 42px;
  border-radius: 5px;
  max-width: 407px;

  @media (max-width: $tablet-width-max) {
    max-width: 379px;
    padding: 17px 20px;
  }

  @media (max-width: $mobile-width-only) {
    max-width: 287px;
    padding: 15px 20px;
  }

  &:hover,
  &:focus {
    transition: all .5s ease-out;
    background-color: $main-blue-darker;
  }

  &:active {
    opacity: 0.6;
  }
}

.call-to-action__text_mobile {
  display: none;

  @media (max-width: $mobile-width-only) {
    display: block;
  }
}

.call-to-action__text_desktop {
  display: none;

  @media (min-width: $tablet-width-min) {
    display: block;
  }
}
