.card-item {
  display: block;
  max-width: 570px;
  outline: 1px solid $card-border;
  border-left: 3px solid $main-blue;
  min-height: 299px;
  padding: 40px 43px 49px;

  @media (max-width: $tablet-width-max) {
    min-height: 233px;
    padding: 24px 23px 20px;
  }

  @media (max-width: $mobile-width-only) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 290px;
    min-height: 232px;
    padding: 25px 4px 18px 25px;
    margin:  0 0 27px;
  }
}

.card-item:last-child {
  @media (max-width: 320px) {
    margin: 0;
  }
}

.card-item br {
  display: none;

  @media (max-width: $mobile-width-only) {
    display: block;
  }
}

.card-item h3 {
  @include font-family-condensed;
  font-weight: normal;
  color: $main-blue;
  font-size: 24px;
  line-height: 140%;
  margin: 0 0 15px;

  @media (max-width: $tablet-width-max) {
    margin: 0 0 12px;
  }

  @media (max-width: $mobile-width-only) {
    margin: 0 0 9px;
    font-size: 20px;
  }
}

.card-item p {
  font-size: 16px;
  line-height: 135%;
  color: $text-grey-color;
  margin: 0;

  @media (max-width: $mobile-width-only) {
    letter-spacing: 0.3px;
  }
}

.card-item__icon {
  transition: 2s;
  fill: $main-blue;
}

.card-item:hover {
  transition: 2s;
  background-color: $main-blue;
}

.card-item:hover h3,
.card-item:hover p {
  transition: 2s;
  color: $ordinary-white;
}

.card-item:hover .card-item__icon {
  fill: $ordinary-white;
}
