.card-table__list {
  @include resetting-styles-list;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;
  row-gap: 30px;

  @media (max-width: $mobile-width-only) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    row-gap: 0;
    flex-wrap: wrap;
  }
}

.card-table__icon-wrapper {
  margin: 0 0 20px 0;

  @media (max-width: $tablet-width-max) {
   margin: 0;
  }

  @media (max-width: $mobile-width-only) {
    margin: 0 0 7px 0;
  }
}
