.card-table__list {
  @include resetting-styles-list;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;
  row-gap: 30px;

  @media (max-width: $mobile-width-only) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}

.card-table__icon-wrapper {
  margin: 0 0 20px 0;

  @media (max-width: $tablet-width-max) {
   margin: 0;
  }
}
