.contacts-mail a::before {
  content: "";
  width: 19px;
  height: 14px;
  background-image: url("../img/icon-mail.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 16px;

  @media (max-width: $tablet-width-max) {
    width: 26px;
    height: 19px;
    background-size: 100%;
    margin-right: 0;
  }
}
