.contacts__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0 38px 0 0;
}

.contacts__mail-container {
  margin: 0 88px 0 0;
}

.contacts a {
  color: $ordinary-white;
  display: inline-flex;
  align-items: center;
}

.contacts__mail-container a::before {
  content: "";
  width: 19px;
  height: 14px;
  background-image: url("/img/icon-mail.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 20px;
}

.contacts__phone-container a::before {
  content: "";
  width: 18px;
  height: 18px;
  background-image: url("/img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 16px;
}
