.contacts__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 0 42px 0 0;

  @media (max-width: $tablet-width-max) {
    margin: 0;
  }
}

.contacts__item {
  margin: 0 79px 0 0;

  @media (max-width: $tablet-width-max) {
    margin: 0 21px 0 0;
  }

  @media (max-width: $mobile-width-only) {
    margin: 0 14px 0 0;
  }

  &:last-child {
    margin: 0;
  }
}

.contacts__item a {
  color: $ordinary-white;
  display: inline-flex;
  align-items: center;
  padding: 5px;
}

.contacts__item span {
  @media (max-width: $tablet-width-max) {
    display: none;
  }
}
