.feedback-form__fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.feedback-form__container {
  max-width: 1170px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 25px;
  position: relative;

  @media (max-width: $tablet-width-max) {
    display: block;
  }

  @media (max-width: $mobile-width-only) {
    display: block;
    padding: 0;
    max-width: 280px;
  }
}

.feedback-form__img-container:after {
  @media (min-width: $desktop-width-min) {
    content: "";
    position: absolute;
    width: 692px;
    height: 488px;
    top: 0;
    left: -33%;
    background-image: url("/img/triangles-group.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.feedback-form__img-container {
  position: relative;
}

.feedback-form__img-container img {
  position: absolute;
  width: 87%;
  height: auto;
  object-fit: contain;
  top: 50%;
  transform: translateY(-50%);

  @media (max-width: $tablet-width-max) {
    display: none;
  }
}

.feedback-form__wrapper {
  z-index: 5;

  @media (max-width: $tablet-width-max) {
    max-width: 590px;
    width: 590px;
    margin: 0 auto;
  }
}

.feedback-form__form {
  grid-column-start: 2;
  place-self: end;
}

.feedback-form__slogan {
  @include font-family-condensed;
  font-weight: normal;
  font-size: 36px;
  line-height: 140%;
  color: $ordinary-white;
  letter-spacing: 0.9px;
  margin: 0 0 8px;

  @media (max-width: $tablet-width-max) {
    font-size: 32px;
    margin: 0 0 17px;
  }
}

.feedback-form__text {
  font-size: 16px;
  line-height: 134%;
  color: $ordinary-white;
  margin: 0 0 52px 0;
}

.feedback-form__list {
  @include resetting-styles-list;
}

.feedback-form__list_independent-element {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "name phone"
                        "textarea textarea"
                        "button agreement";
  column-gap: 32px;
  row-gap: 40px;

  @media (max-width: $mobile-width-only) {
    display: flex;
    flex-direction: column;
  }
}

.feedback-form__textarea {
  resize: none;
  overflow: auto;
  width: 100%;
  margin: 0;
  min-height: 152px;
  color: $ordinary-white;
  background-color: rgba($ordinary-white, 0.1);
  border: none;
  padding: 13px 10px 0 19px;

  @media (max-width: $tablet-width-max) {
    min-height: 165px;
    padding: 20px 10px 13px 19px;
  }

  &:hover {
    outline: 1px solid $main-blue-darker;
    background-color: rgba($main-blue-darker, 0.2);

    &::placeholder {
      color: $main-blue-darker;
    }
  }

  &:focus {
    color: #ffffff;
    outline: 1px solid $main-blue-darker;
    background-color: rgba($ordinary-white, 0.1);
  }
}

.feedback-form__textarea::placeholder {
  @include font-family-pt-mono;
  font-size: 16px;
  line-height: 134%;
  color: $ordinary-white;
}

.feedback-form__field-item_theme_textarea {
  grid-area: textarea;
}

.feedback-form__field-item_theme_button {
  grid-area: button;
}

.feedback-form__field-item_theme_privacy {
  @media (max-width: $mobile-width-only) {
    order: 1;
  }
}

.feedback-form__button {
  color: $ordinary-white;
  outline: 1px solid $ordinary-white;
  width: 100%;
  margin: 0 0 20px;
}

//Форма

.feedback-form_modal {
  z-index: 50;
  width: 490px;
  height: 605px;
  background-color: $main-blue;
  position: fixed;
  top: 15%;
  right: 50%;
  transform: translateX(50%);
}

.feedback-form_modal .feedback-form__slogan {
  font-size: 28px;
  line-height: 140%;
}

.feedback-form_modal .feedback-form__text {
  max-width: 390px;
}

.feedback-form__content {
  padding: 33px 38px 36px;
}

.feedback-form__list_modal-element {
  display: flex;
  flex-direction: column;
}

.feedback-form__list_modal-element .feedback-form__field-item_theme_privacy {
  order: 1;
}

.feedback-form_modal .form-field {
  margin: 0 0 20px;
}

.feedback-form__modal-close-button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  width: 34px;
  height: 34px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.feedback-form_modal_close {
  display: none;
}
