.feedback-form__fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.feedback-form__wrapper {
  max-width: 1170px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @media (max-width: $mobile-width-only) {
    display: block;
    padding: 0;
    max-width: 280px;
  }
}

.feedback-form__form {
  grid-column-start: 2;
  place-self: end;
}

.feedback-form__slogan {
  @include font-family-condensed;
  font-weight: normal;
  font-size: 36px;
  line-height: 140%;
  color: $ordinary-white;
  letter-spacing: 0.9px;
  margin: 0 0 20px 0;
}

.feedback-form__text {
  font-size: 16px;
  line-height: 134%;
  color: $ordinary-white;
  margin: 0 0 40px 0;
}

.feedback-form__list {
  @include resetting-styles-list;
}

.feedback-form__list_independent-element {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "name phone"
                        "textarea textarea"
                        "button agreement";
  column-gap: 32px;
  row-gap: 40px;

  @media (max-width: $mobile-width-only) {
    display: flex;
    flex-direction: column;
  }
}

.feedback-form__field-item_theme_textarea {
  grid-area: textarea;
}

.feedback-form__field-item_theme_button {
  grid-area: button;
}

.feedback-form__field-item_theme_privacy {
  @media (max-width: $mobile-width-only) {
    order: 1;
  }
}

.feedback-form__button {
  color: $ordinary-white;
  outline: 1px solid $ordinary-white;
  width: 100%;
  margin: 0 0 20px;
}

//Форма

.modal_closed {
  display: none;
}

.modal_showed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.5);
  z-index: 40;
}

.feedback-form_modal {
  z-index: 50;
  width: 490px;
  height: 605px;
  background-color: $main-blue;
  position: fixed;
  top: 15%;
  right: 50%;
  transform: translateX(50%);
}

.feedback-form_modal .feedback-form__slogan {
  font-size: 28px;
  line-height: 140%;
}

.feedback-form_modal .feedback-form__text {
  max-width: 390px;
}

.feedback-form__container {
  padding: 33px 38px 36px;
}

.feedback-form__list_modal-element {
  display: flex;
  flex-direction: column;
}

.feedback-form__list_modal-element .feedback-form__field-item_theme_privacy {
  order: 1;
}

.feedback-form_modal .form-field {
  margin: 0 0 20px;
}

.feedback-form__modal-close-button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  width: 34px;
  height: 34px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.feedback-form_modal_close {
  display: none;
}
