.footer-bottom {
  font-size: 15px;
  line-height: 25px;
  text-transform: uppercase;
  color: rgba($text-dark-grey-color, 0.5);
}

.footer-bottom__copyright-wrapper {
  height: 52px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.footer-bottom__copyright-wrapper a {
  color: inherit;

  &:hover {
    color: $text-dark-grey-color;
  }
}

.footer-bottom__links {
  @include resetting-styles-list;
  width: 70%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
