.footer-privacy {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;

  @media (max-width: $tablet-width-max) {
    display: block;
  }
}

.footer-privacy__link {
  margin-right: 59px;

  @media (max-width: $tablet-width-max) {
    margin: 0;
    display: none;
  }
}
