.intro-content {
  display: flex;

  @media (min-width: $desktop-width-min) {
    align-items: center;
    min-height: 878px;
  }

  @media (max-width: $tablet-width-max) {
    align-items: center;
    min-height: 687px;
  }

  @media (max-width: $mobile-width-only) {
    padding: 68px 0 80px;
    align-items: flex-end;
    min-height: 646px;
  }
}

.intro-content__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;

  @media (max-width: $tablet-width-max) {
    max-width: 500px;
    margin: 0;
    padding: 0 0 0 60px;
  }

  @media (max-width: $mobile-width-only) {
    justify-content: flex-end;
    padding: 0;
    max-width: 280px;
    margin: 0 auto;
  }
}

.intro-content__slogan {
  padding: 40px 0 0 0;
  margin: 0 0 40px;

  @media (max-width: $tablet-width-max) {
    padding: 0;
  }
}

.intro-content__call-to-action-wrapper {
  margin: 0 0 0 13%;

  @media (max-width: $mobile-width-only) {
    margin: 0;
  }
}

//.intro-content__wrapper:after {
//  content: "";
//  width: 720px;
//  height: 523px;
//  position: absolute;
//  background-image: url("/img/main-img.png");
//  background-repeat: no-repeat;
//  background-size: cover;
//  right: 0;
//  top: 0;
//  z-index: 2;
//}
//
//.intro-content__wrapper::before {
//  content: "";
//  width: 623px;
//  height: 494px;
//  background-image: url("/img/triangles-group.png");
//  background-repeat: no-repeat;
//  background-size: cover;
//  position: absolute;
//  top: 0;
//  right: 0;
//  z-index: 1;
//}
