.intro-content {
  display: flex;
  position: relative;

  @media (min-width: $desktop-width-min) {
    align-items: center;
    min-height: 878px;
  }

  @media (max-width: $tablet-width-max) {
    align-items: center;
    min-height: 687px;
  }

  @media (max-width: $mobile-width-only) {
    padding: 68px 0;
    justify-content: flex-start;
    min-height: 646px;
  }
}

.intro-content__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @media (max-width: $tablet-width-max) {
    display: flex;
    flex-direction: row;
  }

  @media (max-width: $mobile-width-only) {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }
}

.intro-content__text-content {

  @media (max-width: $tablet-width-max) {
    width: 470px;
  }

  @media (max-width: $mobile-width-only) {
    max-width: 280px;
    z-index: 6;
  }
}

.intro-content__slogan {
  padding: 40px 0 0 0;
  margin: 0 0 40px;

  @media (max-width: $tablet-width-max) {
    padding: 0;
  }
}

.intro-content__img-content {
  position: relative;

  @media (max-width: $tablet-width-max) {
    width: 465px;
    height: 340px;
  }

  @media (max-width: $mobile-width-only) {
    width: 300px;
    height: 220px;
    order: -1;
  }
}

.intro-content__img-content:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 555px;
  top: -20%;
  background-image: url("/img/triangles-group.png");
  background-repeat: no-repeat;
  background-size: contain;

  @media (max-width: $tablet-width-max) {
    right: 20%;
    width: 555px;
    height: 555px;
  }

  @media (max-width: $mobile-width-only) {
    width: 320px;
    height: 355px;
    top: 0;
    right: -40%;
  }
}

.intro-content__img-content img {
  position: absolute;
  top: 0;
  transform: translateY(0);
  right: 0;
  width: 100%;
  height: auto;
  object-fit: contain;
  z-index: 6;

  @media (max-width: $tablet-width-max) {
    top: -20%;
    position: absolute;
  }

  @media (max-width: $mobile-width-only) {
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    top: 10%;
    z-index: 2;
  }
}

.intro-content__call-to-action-wrapper {
  margin: 0 0 0 14%;

  @media (max-width: $tablet-width-max) {
    margin: 0 0 0 40px;
  }

  @media (max-width: $mobile-width-only) {
    margin: 0;
  }
}

.intro-content__feedback-form {
  position: absolute;
  right: 50%;
  top: 50%;
  transform: translateY(-50%)translateX(50%);
}
