.page-footer__top-section-wrapper h4 {
  @include font-family-condensed;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  color: $text-dark-grey-color;
  text-transform: uppercase;
  margin: 0 0 20px 0;
}

.page-footer__top-section-wrapper a {
  font-size: 15px;
  line-height: 25px;
  color: rgba($text-dark-grey-color, 0.5);

  &:hover {
    color: $text-dark-grey-color;
  }
}

.page-footer__top-section-wrapper {
  display: grid;
  grid-template-columns: max-content 1fr 1fr;
  grid-template-areas: "logo navigation contacts"
                        "social navigation contacts";
  column-gap: 12px;
  padding: 40px 0;
}

.page-footer__logo {
  grid-area: logo;
}

.page-footer__social {
  grid-area: social;
  padding: 47px 12px 12px 0;
}

.page-footer__navigation {
  grid-area: navigation;
  justify-self: center;
}

.page-footer__contacts {
  grid-area: contacts;
  justify-self: end;
}

.page-footer__bottom-section-wrapper {
  border-top: 1px solid rgba($grey-border, 0.2);
}
