.page-footer {
  position: relative;
  min-height: 316px;

  @media (max-width: $tablet-width-max) {
    min-height: 457px;
  }

  @media (max-width: $mobile-width-only) {
    min-height: 685px;
  }
}

.page-footer:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: rgba($grey-border, 0.2);
  bottom: 52px;

  @media (max-width: $tablet-width-max) {
    bottom: 69px;
  }

  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.page-footer:before {
  @media (max-width: $tablet-width-max) {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: rgba($grey-border, 0.2);
    top: 97px;
  }

  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.page-footer__wrapper h4 {
  @include font-family-condensed;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  color: $text-dark-grey-color;
  text-transform: uppercase;
  margin: 0 0 25px 0;

  @media (max-width: $mobile-width-only) {
   margin: 0;
  }
}

.page-footer__wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto 152px auto;
  padding: 64px 0 10px 0;

  @media (max-width: $tablet-width-max) {
    padding: 0;
    grid-template-rows: 97px 291px 69px;
    grid-template-columns: repeat(6, 1fr);
  }

  @media (max-width: $mobile-width-only) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 46px 0 20px;
  }
}

.page-footer__logo {
  width: 216px;
  height: 52px;
  grid-column: 1 / span 3;

  @media (max-width: $tablet-width-max) {
    align-self: center;
    grid-column: 1 / 2;
  }

  @media (max-width: $mobile-width-only) {
    order: -3;
    margin: 0 auto 26px;
  }
 }

.page-footer__social {
  grid-column: 1 / 2;
  padding: 54px 0 0 0;

  @media (max-width: $tablet-width-max) {
    grid-row: 1 / 2;
    grid-column: span 2 / -1;
    justify-self: end;
    align-self: center;
    padding: 0;
  }

  @media (max-width: $mobile-width-only) {
    order: -1;
    margin: 0 auto 54px;
  }
}

.page-footer__navigation {
  grid-row: 1 / 4;
  grid-column: 4 / span 5;
  justify-self: center;

  @media (max-width: $tablet-width-max) {
    grid-column: 1 / span 4;
    grid-row: 2 / 3;
    justify-self: start;
    padding: 40px 0 10px 0;
  }

  @media (max-width: $mobile-width-only) {
    padding: 0;
  }
}

.page-footer__contacts {
  grid-row: 1 / 4;
  grid-column: span 4 / -1;
  justify-self: end;

  @media (max-width: $tablet-width-max) {
    padding: 40px 0 10px 0;
    grid-column: 3 / -1;
    grid-row: 2 / 3;
  }

  @media (max-width: $mobile-width-only) {
    padding: 0;
  }
}

.page-footer__privacy {
  grid-row: 4 / 5;
  grid-column: 1 / 5;
  padding: 10px 0;

  @media (max-width: $tablet-width-max) {
    grid-row: 1 / 2;
    grid-column: 2 / 5;
    justify-self: center;
    align-self: center;
  }

  @media (max-width: $mobile-width-only) {
    order: -2;
    padding: 0;
    margin: 0 auto 34px;
  }
}

.page-footer__conditions {
  grid-column: 6 / 9;
  padding: 10px 0;

  @media (max-width: $tablet-width-max) {
    align-self: center;
    grid-column: 1 / 4;
  }

  @media (max-width: $mobile-width-only) {
    margin: 0 auto;
  }
}

.page-footer__company {
  justify-self: end;
  padding: 10px 0;
  grid-column: 10 / -1;

  @media (max-width: $tablet-width-max) {
    align-self: center;
    grid-column: span 2 / -1;
  }

  @media (max-width: $mobile-width-only) {
    margin: 0 auto;
  }
}

.page-footer__bottom-section-wrapper {
  border-top: 1px solid rgba($grey-border, 0.2);
}

//Шрифты для нижней секции
.page-footer__privacy a,
.page-footer__privacy p,
.page-footer__conditions a,
.page-footer__conditions p,
.page-footer__company p {
  @include font-family-pt-mono;
  font-size: 13px;
  line-height: 24px;
  text-transform: uppercase;
  color: rgba($text-dark-grey-color, 0.5);
  margin: 0;
}
