.social__list {
  @include resetting-styles-list;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  width: 112px;
  overflow: hidden;
}

.social__list a {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 27px;
  height: 27px;
  border-radius: 50%;
}

.social__list svg {
  transition: fill 0.3s ease-out, opacity 0.3s ease-out;
}

.social__item {
  position: relative;
  background-color: $light-grey-color;
  border-radius: 50%;
  margin-right: 15.3px;
}

.social__item:last-of-type {
  margin-right: 0;
  margin-bottom: 0;
}

.social__link-icon {
  fill: $ordinary-white;
}

.social__link:hover .social__link-icon {
  transition: all 0.5s ease;
}

.social__link:hover .social__link-icon_vk {
  fill: #0081fa;
}

.social__link:hover .social__link-icon_ok {
  fill: #fe9034;
}

.social__link:hover .social__link-icon_fb {
  fill: #3b5998;
}
