.vertical-cards-list {
  @include font-family-condensed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

  @media (max-width: $tablet-width-max) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}

.vertical-cards-list__item {
  width: 370px;
  min-height: 624px;
  background-color: $grey-color;
  margin: 0 30px 20px 0;

  @media (max-width: $tablet-width-max) {
    width: 100%;
    min-height: 256px;
    margin: 0 0 46px 0;
  }

  @media (max-width: $mobile-width-only) {
    margin: 0 0 30px 0;
  }
}

.vertical-cards-list__item:last-child {
  margin-right: 0;
}

.vertical-cards-list__link {
  display: block;
  width: 100%;
  height: 100%;

  &:hover {
    transition: all .5s ease-out;
  }
}

.vertical-cards-list__link p {
  color: $ordinary-white;
  font-size: 20px;
  line-height: 30px;
  max-width: 215px;
  margin: 0;
  padding: 53px 20px 20px 44px;

  @media (max-width: $tablet-width-max) {
    padding: 42px 20px 20px 44px;
  }

  @media (max-width: $mobile-width-only) {
    padding: 21px 20px 20px 34px;
  }
}

.vertical-cards-list__link {
  background-repeat: no-repeat;
  background-size: auto 100%;
  overflow: hidden;
  position: relative;

  &:hover {
    opacity: 0.2;
  }

  @media (max-width: $tablet-width-max) {
    height: 256px;
  }
}

.vertical-cards-list__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 63px;
  height: 63px;
  background-color: $main-blue;
  background-image: url("/img/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.vertical-cards-list__link_theme_manufacturer {
  background-image: linear-gradient(rgba($dark-background, 0.4), rgba($dark-background, 0.4)), url("/img/promo-1.jpg");

  @media (max-width: $tablet-width-max) {
    background-size: 100% 256px;
    background-image: linear-gradient(rgba($dark-background, 0.4), rgba($dark-background, 0.4)), url("/img/promo-1-tablet.jpg");
  }

  @media (max-width: $mobile-width-only) {
    background-image: linear-gradient(rgba($dark-background, 0.4), rgba($dark-background, 0.4)), url("/img/promo-1-mob.jpg");
  }
}

.vertical-cards-list__link_theme_mount {
  background-image: linear-gradient(rgba($dark-background, 0.4), rgba($dark-background, 0.4)), url("/img/promo-2.jpg");

  @media (max-width: $tablet-width-max) {
    background-size: 100% 256px;
    background-image: linear-gradient(rgba($dark-background, 0.4), rgba($dark-background, 0.4)), url("/img/prmo-2-tablet.jpg");
  }

  @media (max-width: $mobile-width-only) {
    background-image: linear-gradient(rgba($dark-background, 0.4), rgba($dark-background, 0.4)), url("/img/promo-2-mob.jpg");
  }
}

.vertical-cards-list__link_theme__light-equipment {
  background-image: linear-gradient(rgba($dark-background, 0.4), rgba($dark-background, 0.4)), url("/img/promo-3.jpg");

  @media (max-width: $tablet-width-max) {
    background-size: 100% 256px;
    background-image: linear-gradient(rgba($dark-background, 0.4), rgba($dark-background, 0.4)), url("/img/prmo-3-tablet.jpg");
  }

  @media (max-width: $mobile-width-only) {
    background-image: linear-gradient(rgba($dark-background, 0.4), rgba($dark-background, 0.4)), url("/img/promo-3-mob.jpg");
  }
}
