@mixin resetting-styles-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

@mixin font-family-condensed {
  font-family: "Roboto Condensed", "Arial", sans-serif;
}

@mixin font-family-pt-mono {
  font-family: "PT Mono", "Courier New", monospace;
}
