//Размеры экрана
$mobile-width-only: 767px;
$tablet-width-min: 768px;
$tablet-width-max: 1023px;
$desktop-width-min: 1024px;

//Основные цвета
$main-blue: #00b2ff;
$text-grey-color: #666666;
$text-dark-grey-color: #1b2d37;
$dark-background: #1b2d37;
$light-grey-background: #e5e5e5;
$light-grey-color: #cdcdcd;
$dark-grey-color: #788891;
$grey-border: #626962;
$ordinary-white: #ffffff;
